body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("/static/index-back-ground.jpg") center center fixed no-repeat;
    background-size: cover;
}
.container {
    background-color: transparent;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
}
h1 {
    color: #411402;
    margin-bottom: 20px;
    font-size: 40px;
}
.ascii-output {
    background-color: whitesmoke;
    border: 1px solid #926e6e;
    border-radius: 5px;
    padding: 20px;
    overflow: auto;
    max-height: 300px;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.btn {
    background-color: #87939b;
    width: 200px;
    padding: 10px 20px;
    font-size: large;
    color: black;
    border: transparent;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
    text-align: center;
    border: 1px white solid;
}
.btn:hover {
    color: #00ffb3;
    background-color: #1592e6;
    border: 1px rgb(34, 34, 34) solid;
}
@media (max-width: 700px) {
    .container {
        width: 400px;
    }
    h1 {
        font-size: 33px;
    }
}
@media (max-width: 470px) {
    .container {
        width: 280px;
    }
    h1 {
        font-size: 25px;
    }
    .btn {
        width: 100px;
        height: 30px;
    }
}