body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("/static/index-back-ground.jpg") center center fixed no-repeat;
    background-size: cover;
}
.container {
    background-color: transparent;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
}
h1 {
    color: #411402;
    margin-bottom: 20px;
    font-size: 40px;
}
.ascii-output {
    background-color: whitesmoke;
    border: 1px rgb(0, 0, 0) solid;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 20px;
    overflow: auto;
    max-height: 300px;
    transition: 0.5s;
}
.ascii-output:hover{
    border: 1px white solid;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    scale: 1.1;
}
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn {
    background-color: #338282;
    width: 200px;
    padding: 12px 20px;
    font-size: large;
    color: #93ffaa;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.5s;
    text-align: center;
    border: 1px rgb(0, 0, 0) solid;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    color: #143a2e;
    background-color: #168bda;
    border: 1px white solid;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    scale: 1.1;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
#btn1{
    width: 160px;

}

#downlaod{
    border: #411402;
    background-color: #168bda;
    color: red;
}
@media (max-width: 700px) {
    .container {
        width: 400px;
    }
    h1 {
        font-size: 33px;
    }
}
@media (max-width: 470px) {
    .container {
        width: 280px;
    }
    h1 {
        font-size: 25px;
    }
    .btn {
        width: 100px;
        height: 30px;
    }
}