table {
    width: 60%;
    height: 92vh;
    padding: 90px;
}

.tables{
    border: 2px solid black;
    border-radius: 10px;
}
h2 {
    color: antiquewhite;
}  

#generate-button{
    color: white;
    width: 33.05%;
    height: 16%;
    font-size: large;
    border-radius: 4px;
    background-color: #ff595e;
    cursor :pointer;
    display: block;
    margin: 0 auto;
    transition: 0.5s;
}
#generate-button:hover {
    background-color:  #a12428;
    color: white;
}

div{
    text-align: center;
}

input[type="radio"] {
    width: 17px;
    height: 17px;
}

#text-input {
    display: block;
    margin: 0 auto; 
    width: 40%;
    height: 40%;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
    font-size: large;
    font-style: italic;
    color :gray;
}

