body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("/static/index-back-ground.jpg") center center fixed no-repeat;
    background-size: cover;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 50vw;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    height: 300px;
    
}

h2 {
    color: antiquewhite;
}

#generate-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 16%;
    padding: 20px 30px;
    font-size: large;
    border-radius: 4px;
    background-color: #ff595e;
    cursor: pointer;
    transition: 0.5s;
    width: 30%;
}

#generate-button:hover {
    background-color: #a12428;
    color: white;
}

div {
    text-align: center;
}

input[type="radio"] {
    width: 17px;
    height: 17px;
}

#text-input {
    margin-top: 20px;
    margin-bottom: 10px;
    resize: none;
    width: 50%;
    height: 40%;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
    font-size: large;
    font-style: italic;
    color: gray;
}
.radio{
    display: flex;
    gap: 20px;
    align-items: center
}

@media (max-width:600px){
    .form-container {
        width: 70vw;
    }
}
@media (max-width:430px){
    .form-container {
        width: 90vw;
    }
    #text-input{
        width: 80%;
        height: 30%;
    }
    #generate-button {
        width: 80%;
    }

}