table {
    width: 60%;
    height: 92vh;
    padding: 90px;
}

.tables{
    border: 3px solid black;
}


#generate-button{
    width: 33.05%;
    height: 16%;
    font-size: large;
    border: 3px solid black;
    background-color: white;
    cursor :pointer;
    display: block;
    margin: 0 auto; 
}
#generate-button:focus {
    background-color: black;
    color: white;
}

div{
    text-align: center;
}

input[type="radio"] {
    width: 17px;
    height: 17px;
}

#text-input {
    display: block;
    margin: 0 auto; 
    width: 40%;
    height: 40%;
    border: 3px solid black;
    text-align: center;
    font-size: large;
    font-style: italic;
    color :gray;
}

